/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700"); */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  background-color: #f8f9fa;
  font-family: "Segoe UI", "Avenir Next", "Hiragino Sans GB", "PingFang SC",
  "Helvetica Neue", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}

/* popup  */
.popup {
  position: fixed;
  top: 7vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none; /* Initially hidden */
  z-index: 1000;
}

/* nabar styling */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 7vh;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
  border-bottom: 1px solid #e5e5e5;
  padding-right: 18rem;
  padding-left: 18rem;
}
.nav li {
  list-style: none;
  border: none;
}
.nav h1,
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.brand {
  width: 60%;
}
.brand a {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}
.brand svg {
  width: 40px;
  height: 40px;
}
.brand h1 {
  font-size: 2rem;
  line-height: 19px;
  font-weight: 500;
  color: rgb(48, 48, 48);
}
.navChild {
  width: 40%;
}
.navChild ul {
  display: flex;
  width: 100%;
}
.navChild a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  color: rgb(83, 81, 81);
  white-space: nowrap;
}
.navChild a:hover {
  border-bottom: 1px solid #5c5696;
  color: black;
}
@media only screen and (max-width: 600px) {
  .nav .brand h3 {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 14vh;
  gap: 2rem;
}
.container i{
  color: rgba(0, 0, 0, .85);
}
.container svg {
  width: 70px;
  height: 70px;
}

.header{
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  color: #000000;
  font-weight: bolder;
}

.signup-box,
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  height: 62vh;
  width: 22vw;
  padding: 30px;
  padding-top: 100px;
  border-radius: 10px;
}

.todo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-email-box,
.login-password-box,
.signup-name-box,
.signup-email-box,
.signup-confirm-password-box,
.signup-password-box {
  display: flex;
  align-items: center;
  margin-left: 2.2rem;
  margin-bottom: 2rem;
  position: relative;
  top: 20px;
  border-bottom: 0.5px solid #6b6b6e;
}


.login__icon {
  color: #000000;
}

.signup-name-input,
.login-email-input,
.login-password-input,
.signup-email-input,
.signup-password-input,
.signup-confirm-password-input {
  border: none;
  outline: none;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login-email-label,
.login-password-label,
.signup-name-label,
.signup-email-label,
.signup-password-label,
.signup-confirm-password-label {
  size: 110px;
  letter-spacing: 4px;
  color: #3f3d3df5;
  align-items: center;
  top: 40px;
  left: 50px;
  transition: 0.5s;
  font-size: 16px;
}

.incorrect-password-error {
  padding: 20px;
}

.login-submit-box,.signup-submit-box {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 2rem;
}

.btn {
  box-shadow: none;
  border-radius: 2px;
  border-style: solid;
  border-width: 0;
  min-width: 100px;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  outline: 0;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background-color: #4772fa;
  transition: background-color 0.2s ease;
  padding: 11px 16px;
  width: 100%;
  margin: 0 0 12px;
}

.btn:hover {
  background-color: #6c8efb;
}

li {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  list-style: none;
  width: 400px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.todo-list {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
  overflow-x: hidden;
}

.add-item-button {
  background-color: #31507085;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.add-item-button:hover {
  background-color: #00f74ab2;
  color: #212529;
  font-weight: bolder;
}

.add-item-input {
  padding: 5px;
  border: 1px solid #ebe7e7;
  border-radius: 5px;
  flex: 1;
  height: 35px;
  padding-left: 10px;
}

.todo-footer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

/* The container */
.todo-container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.edit-button {
  display: none;
  cursor: pointer;
  cursor: pointer;
  background-color: #45ff20;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  display: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.todo-container:hover > .edit-button {
  display: block;
}

.delete-button {
  width: 30px;
  cursor: pointer;
  background-color: #ff2020;
  color: white;
  border: 1px solid #ccc;
  border-radius: 400px;
  display: none;
}

.todo-container:hover > .delete-button {
  display: block;
}

.todo-header {
  margin-left: 60px;
  padding-left: 43px;
  width: 250px;
  height: 100px;
  background-color: #4a76c9;
  border-radius: 5px;
  box-shadow: 0 0 5px #6c88d6, 0 0 15px #79c2df, 0 0 5px #64a2e9,
    0 0 60px #6bd1d6;
}

.todo-name-box {
  font-size: xx-large;
  margin-top: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #fffffff5;
  align-items: center;
  top: 40px;
  left: 50px;
  font-size: 16px;
  padding: 40px;
}

.todo-container input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.todo-logout-button {
  padding: 10px;
  margin-left: 310px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 17px;
  border: none;

  background-color: #e04444;
  letter-spacing: 2px;
  color: #03e9f4;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;
}

.todo-logout-button:hover {
  color: #fff;
  background-color: #df3c65;
  box-shadow: 0 0 5px #d43095, 0 0 15px #be2f6b, 0 0 30px #df4747,
    0 0 90px #cf405f;
  border-radius: 5px;
}

.done-todo-container {
  background: #cbf3c9;

  text-decoration: line-through;
}

.todo-title {
  flex: 1;
}

.todo-editable {
  padding: 5px;
}

[contenteditable="true"] {
  outline: 1px solid #ccc;
}

.incorrect-password-error {
  color: red;
  display: none;
}
